.js-add-pivotal-timer {
    display: block;
}

.js-add-pivotal-timer.running {
  background: #ff3400;
  background: -webkit-linear-gradient(top, #fe7702, #ff3400);
  background: -moz-linear-gradient(top, #fe7702, #ff3400);
  background: -o-linear-gradient(top, #fe7702, #ff3400);
  background: linear-gradient(to bottom, #fe7702, #ff3400);
  color: white;
}

/*.js-add-pivotal-timer.running:after {
    content: ' is running...';
}*/

.pivotal-timer-icon {
  background-position: 4px -83px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  margin: 0 5px -3px 0;
  position: relative;
  width: 18px;
}

.js-add-pivotal-timer:hover .pivotal-timer-icon, .pivotal-timer-icon.running {
  background-position: 4px -122px;
}

.harvest-timer-container {
    position: absolute;
    display: inline-block;
    padding: 0px !important;
    right: 45px;
    z-index: 10000;
}

.harvest-timer-container a {
    background: #256188;
    color: #fff;
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 3px !important;
}